{{define "dbCodeTemplateStd"}}

type Queries struct {
    conn *sqlite.Conn
    pin runtime.Pinner
    beginRead iter
    beginWrite iter
    commit iter
    rollback iter
    {{- range .ReadQueries }}
    {{.FieldName}} {{.MethodName}}Stmt
    {{- end}}
}

type WriteTxn struct {
    Queries
    {{- range .WriteQueries }}
    {{.FieldName}} {{.MethodName}}Stmt
    {{- end}}
}

func (q *Queries) init(conn *sqlite.Conn) {
    if q.conn != nil {
        panic("Queries already initialized")
    }
    q.conn = conn
    q.beginRead.init(q, "begin", "begin", false)
    q.beginWrite.init(q, "begin immediate", "begin immediate", true)
    q.commit.init(q, "commit", "commit", false)
    q.rollback.init(q, "rollback", "rollback", false)
}

func (q *Queries) BeginRead() (int64, *lib.Error) {
    q.beginRead.Next(q)
    err := q.beginRead.Err()
    q.beginRead.Reset()
    if err != nil {
        return 0, err
    }
    return q.GetVersion()
}

func (q *Queries) BeginWrite() (int64, *lib.Error) {
    q.beginWrite.Next(q)
    err := q.beginWrite.Err()
    q.beginWrite.Reset()
    if err != nil {
        return 0, err
    }
    return q.GetVersion()
}

func (q *Queries) Commit() (*lib.Error) {
    q.commit.Next()
    err := q.commit.Err()
    q.commit.Reset()
    return err
}

func (q *Queries) Rollback() (*lib.Error) {
    q.rollback.Next()
    err := q.rollback.Err()
    q.rollback.Reset()
    return err
}

func (q *Queries) Close() *lib.Error {
    q.pin.Unpin()
    var err, firstErr *lib.Error
    {{- range .ReadQueries }}
    q.{{.FieldName}}.close()
    err = q.{{.FieldName}}.Err()
    if firstErr == nil {
        firstErr = err
    }
    {{- end}}
    extErr := q.conn.Close()
    if firstErr == nil && extErr != nil {
        firstErr = lib.Wrap(extErr)
    }
    return firstErr
}

func (txn *WriteTxn) Close() *lib.Error {
    var err, firstErr *lib.Error
    {{- range .WriteQueries }}
    txn.{{.FieldName}}.close()
    err = txn.{{.FieldName}}.Err()
    if firstErr == nil {
        firstErr = err
    }
    {{- end}}
    err = txn.Queries.Close()
    if firstErr == nil {
        firstErr = err
    }
    return firstErr
}

{{end}}
